{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{url_for('static',filename ='assets/img/about_me1.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <!-- <div class="rounded-image-container mb-4">
                                <img class="rounded-image" src="{{url_for('static', filename='assets/img/laksh4.jpeg')}}" alt="Image description">
                            </div>-->
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Navigating the Confluence of AI and Passion</h1>
                <p>Greetings! I'm Lakshmanan, a tech enthusiast with a penchant for turning ideas into reality. My journey began with a focus on the Indian Engineering Services (IES), where I dedicated four years to rigorous preparation, successfully conquering the mains but narrowly missing the interview stage. Little did I know that this journey was merely a prelude to my true calling—the fascinating world of Artificial Intelligence.</p>
                <p>As I transitioned, my dedication to AI found expression in a series of diverse freelance projects, each a testament to my growing expertise. One such endeavor involved developing an American Sign Language (ASL) interpretation tool, leveraging AI to bridge communication gaps. Witnessing the impact of technology on accessibility fueled my passion for creating solutions that matter.</p>
                <p>In another chapter of my freelance journey, I ventured into website development for a musical company. Here, I blended my technical prowess in HTML, CSS, and Python with a keen eye for design, bringing the brand's vision to life on the digital canvas.</p>
                <p>Diving deeper into the realm of machine learning, I crafted an IPL prediction model, showcasing the versatility of AI in unexpected domains. The thrill of merging my love for sports with cutting-edge technology was unparalleled, reinforcing my belief in the transformative power of AI.</p>
                <p>A pivotal experience in my narrative was an enriching internship at IIT Madras. This opportunity allowed me to immerse myself in the academic world, learning from the best minds in the field and contributing to groundbreaking research. The confluence of theory and practice during my internship solidified my commitment to pushing the boundaries of what AI can achieve.</p>
                <p>One of my most cherished accomplishments is the development of an end-to-end machine learning model, deployed seamlessly on the Azure Cloud platform. This project encapsulates my journey—from theoretical knowledge acquired during exam preparation to practical application in the ever-evolving landscape of AI.</p>
                <p>As I weave through the intersections of technology, creativity, and impact, I invite you to join me on this exhilarating adventure. Let's explore the endless possibilities that AI offers, transforming challenges into opportunities, and turning dreams into reality.</p>Thank you for stepping into my world.<p>
                    <h2>Lakshmanan Ravi</h2>
            </div>
        </div>
    </div>
</main>

<!-- Custom CSS 
    <style>
        .rounded-image-container {
            overflow: hidden;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }

        .rounded-image {
            width: 100%;
            height: auto;
            display: block;
        }
    </style> -->

{% endblock %}